<html class="gr__127_0_0_1"><head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body data-gr-c-s-loaded="true" style="margin-top: 60pt;">
<div class="container">
  <div class="jumbotron">
    <center id="log" style="font-size: 140pt;"><span>Prediction</span></center>

  </div>
    <div><span style="margin-left: 100pt;">Activity: </span> <span id="activity"></span><span>Posture: </span> <span id="posture"></span></div>

</div>

</body>
</html>